__pycache__/
*.py[cod]
*.pyo

*.sqlite3

venv/
ENV/
env/
.venv/

.vscode/

.DS_Store
Thumbs.db

**/migrations/*.py
!**/migrations/__init__.py

*.log

.env
.env.*

.pytest_cache/

htmlcov/
coverage.xml